footer {
    margin: auto;
    padding: 1rem 2rem;
    width: 100%; /* para que la seccion ocupe toda la anchura de sitio web */
    max-height: 90px; /* limtamos la altura del pie */
    background-color: blue; /* y ponemos el color del fondo */
    flex-wrap: wrap; /* para el diseño más flexible */
    position: fixed;
    bottom: 0px; 
}

footer p{
    color: #FFEA79; /* color de fuente en el pie */
    font-size: 0.5rem; 
}