.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal; /* ajustamos el fuente importado */
}


body {
    background: #7B8B6F; /* el color del fondo general */
    max-width: 100%; /* para que la página ocupe toda la pantalla*/
    font-family: 'Press Start 2P', monospace;
    color: #333;
}