.login-main{
    max-width: 20%;
    margin: auto;
    min-width: 300px;
    margin-top: 15%;
}

.login {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    align-items: center;   
}


.login h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.login input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 30px;        
    font-size: 0.8rem;
    background-color: #FFEA79; 
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px;
    padding: 0.5rem;
}

.login input:last-child{
    width: 50%;
    font-family: "Press Start 2P", system-ui;
    color: #333;
    font-size: 0.6rem;
}

.login input:last-child:hover{
    border: 2px solid #333;
}