main {
    max-width: 1000px; /* limitamos la anchura de parte principal */
    margin: 0 auto;    
}

.content{
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px; 
    margin: 6rem auto 1rem auto;
    width: 90%; 
    max-width: 50rem;
}

.arriva {
    padding: 1rem;
    display: flex;
}

.arriva h3{
    margin-bottom: 1rem;
}

.imagen {
    margin-right: 1rem;
    max-width: 500px;
    width: 70%;
}

.derecho{
    width: 100%;
}

.ficha{
    font-size: 0.9rem;
}

.ficha p{
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}

.ficha span{
    color: #FFEA79;
}

.controladores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1{
    margin-top: 1rem;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

row3{
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    position: relative;
}

.btn img{
    width: 30px;
}

.btn .hover {
    display: none;
}

.btn:hover .normal {
    display: none;
}

.btn:hover .hover {
    display: block;
}

.bajo {
    padding: 1rem;
}

.bajo h2 {
    margin-bottom: 1rem;
}

.bajo textarea {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    height: 80px;        
    font-size: 0.6rem;
    background-color: #FFEA79; 
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px;
    padding: 0.5rem;
    resize: none;        
    overflow-y: auto;      
}

.botones{
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accion {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.accion button {
    font-family: "Press Start 2P", system-ui;
    color: #333;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #FFEA79;
    font-size: 0.8rem;
    white-space: nowrap; 
}


.accion button:last-child{
    margin-right: 0; /* quitamos el margen para el ultimo boton  */
}

.accion button:hover {
    border: 2px solid #333; /* ponemos un borde con un color diferente */
}

.icon-bar {
    display: flex;
    justify-content: space-between;
}

.botones a{
    margin-right: 0.5rem;
}

.botones a:last-child{
    margin-right: 0;
}

.botones img {
    max-width: 20px;
}

.icon-btn .hover {
    display: none;
}

.icon-btn:hover .normal {
    display: none;
}

.icon-btn:hover .hover {
    display: block;
}

@media (max-width: 768px) {
    .content{
        margin-top: 5rem;
    }

    .derecho h3{
        font-size: 0.9rem;
    }

    .ficha p{
        font-size: 0.6rem;
    }

    .arriva {
        padding-bottom: 0.7rem;
    }

    .row1 {
        margin-top: 1rem;
    }

    .controladores img {
        width: 20px;
    }

    .bajo {
        padding-top: 0;
    }

    .content h2 {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }
}

