main {
    max-width: 1000px; /* limitamos la anchura de parte principal */
    margin: 0 auto;    
}

.content{
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px; 
    margin: 6rem auto 1rem auto;
    width: 90%; 
    max-width: 50rem;
}

.upper {
    padding: 1rem;
    display: flex;
}

.upper-left {        
    width: 70%;      
    margin-right: 1rem;
    position: relative;
    display: inline-block;
}

.imagen {
    width: 100%;          
    max-width: 500px;     
    border: 2px solid #ccc;
    display: block;       
}

.monster {
    position: absolute;       
    top: 50%;                  
    left: 50%;                 
    transform: translate(-50%, -50%); 
    width: 100px;              
    height: auto;              
    pointer-events: none;      
}

.upper-right{
    width: 30%;
}

.upper h3{
    margin-bottom: 1rem;
}

.ficha{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.ficha p{
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}

.ficha span{
    color: #FFEA79;
}

.map{
    max-width: 100px;
}

.middle {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.middle-left{
    width: 70%;
    max-width: 500px;
    margin-right: 1rem;
}

.middle h2 {
    margin-bottom: 1rem;
}

.middle textarea {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    height: 80px;        
    font-size: 0.6rem;
    background-color: #FFEA79; 
    border: 2px solid #ccc; /* ponemos un borde  */
    border-radius: 4px;
    padding: 0.5rem;
    resize: none;        
    overflow-y: auto;      
}

.middle-right{
    width: 30%;
}

.controllers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1{
    margin-top: 1rem;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.row3{
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    position: relative;
}

.btn img{
    width: 30px;
}

.btn .hover {
    display: none;
}

.btn:hover .normal {
    display: none;
}

.btn:hover .hover {
    display: block;
}

.down{
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-left{
    display: flex;
    width: 70%;
    max-width: 500px;
    margin-right: 1rem;
}

.down-right{
    display: flex;
    justify-content: center;
    width: 30%;
}

.action {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.action button {
    font-family: "Press Start 2P", system-ui;
    color: #333;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #FFEA79;
    font-size: 0.8rem;
    white-space: nowrap; 
}


.action button:last-child{
    margin-right: 0; /* quitamos el margen para el ultimo boton  */
}

.action button:hover {
    border: 2px solid #333; /* ponemos un borde con un color diferente */
}

.icon-bar {
    display: flex;
    justify-content: space-between;
}

.down a{
    margin-right: 0.5rem;
}

.down a:last-child{
    margin-right: 0;
}

.down img {
    max-width: 25px;
}

.icon-btn .hover {
    display: none;
}

.icon-btn:hover .normal {
    display: none;
}

.icon-btn:hover .hover {
    display: block;
}

@media (max-width: 768px) {

    .content{
        margin-top: 5rem;
    }

    .content h2 {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .upper {
        padding-bottom: 0.7rem;
    }

    .upper-right h3{
        font-size: 0.9rem;
    }

    .ficha p{
        font-size: 0.6rem;
    }

    .map-a{
        display: none;
    }

    .row1 {
        margin-top: 1rem;
    }

    .middle {
        padding-top: 0;
        padding-bottom: 0.5rem;
    }

    .controllers img {
        width: 20px;
    }

    .row1, .row2, .row3 {
        gap: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .row3{
        margin-bottom: 0;
    }

    .down img {
        max-width: 15px;
    }

    .down a{
        margin-right: 0.3rem;
    }

    .down a:last-child{
        margin-right: 0;
    }

    .action button{
        font-size: 0.4rem;
    }
}

