@import url(./reset.css); 
@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);
@import url(./global.css);
@import url(./login.css);
@import url(./inicio.css);

/* importamos todas las hojas de estilo */
